
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Readex Pro', sans-serif;
}

.clear{
    clear: both;
}

.center{
		width: 1280px;
		margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
  	font-size: 14px;
  	width: 100%;
    min-width: 1200px;
  	height: 90px;
  	background-color: #212343;
}

.header img {
    margin: 19px;
}

.outra-cor{
    color: orange;
    font-weight: bold;
}

h1 {
    color: white;
}

.container-banner{
    width: 100%;
    height: calc(100% + 10px);
    background-image: url('../img/header_bg.png');
    background-size: cover;
    background-position: center;
}

.container-banner > .center {
    height: 100%;
    min-width: 1200px;
    text-align: right; /* text-align e display relacionam entre si */
}

.form {
    width: 400px;
    height: calc(100% + 50px);
    background-color: rgba(0,0,25,0.4);
    display: inline-block;
    position: relative;
    border: 4px solid white;
    top: -15px;
    padding-bottom: 50px;  
}

.form > h2 {
    font-weight: bold;
    color: orange;
    font-size: 21px;
    text-align: left;
    padding: 10px;
}

.input-container{
    margin-top: 20px;
    text-align: left;
    padding: 10px;
    color: whitesmoke;   
}

.input-container > span{
    color: whitesmoke;
    display: inline-block;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 3px;
}

.input-container input[type=text]{
    width: 99%;
    height: 55px;
    border: 1px solid lightgray;

}

.form .input-submit-container{
    text-align: center;
  
}

.form input[type=submit]{
    background-color: rgba(0,0,128,0.6);  
;
    width: 280px;
    height: 55px;
    color: white;
    font-size: 25px;
    border: none;
    display: inline-block;
    border-bottom: 5px solid rgba(0,0,128,0.8);
    cursor: pointer;

}

.form input[type=submit]:hover{
    border-bottom: 1px white;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.2));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.2));
}

.warning{
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: right;
    color: white;
    font-size: 15px;
}

.form p{
    margin: 20px 0;
} 

.container-list {
     float: left;
     width: 600px;
     height: auto;
     background-color: rgba(0,0,25,0.4);
     margin-top: 50px;
     padding-left: 40px;
     padding-right: 40px;
     padding-bottom: 30px;
     text-align: left;     
}

.container-list ul{
      list-style-position: inside;

}

.container-list ul li{
      color: white;
      margin-top: 20px;
      font-size: 18px;
}

.diference{
      font-weight: bold;
      color: orange;
}

.container-2 {
      padding: 40px 0;
      background-color: lightgray;
      text-align: center;
      min-width: 1200px;
}

.container-2 h2 {
      font-weight: normal;
      padding-bottom: 10px;
}

.container-2 p{
    width: 698px;
    display: inline-block;
    font-size: 14px;
    text-align: justify;
}

.arrow{
    width: 40px;
    height: 40px;
    background-image: url('../img/arrow.png');
    background-size: 100% 100%;
    padding-left: 20px;
    left: 50%;
    margin-left: -20px;
    position: relative;
    top: 60px;
  }

  .section-1{
    padding: 90px 0;
    min-width: 1200px;
  }

 .section-1 h2{
    text-align: center;
    color: #462663;
    font-weight: bolder;
  }

  .container-section{
      margin-top: 40px;
  }

   .container-section{
     text-align: center;
  }

  .container-single{
     display: inline-block;
     margin-right: -4px;
     float: left;
     width: 33%;
     margin: 1px;
     padding: 30px;
  }

  .container-single p{
      text-align: justify;
  }

  .container-single img{
     width: 70px;

  }

  .container-single: last-child{
      margin-right: 0;
  }

.footer{
    /*clear: both;*/
    border-top: 4px solid darkgray;
    padding: 60px 0;
    text-align: center;

}

.footer p{
    margin-top: 8px;
}


